{% extends 'base.html' %}
{% block title %} {% if user.is_authenticated %} Update {% else %} Error 404 {% endif %} {% endblock %}
{% block content %}

{% if user.is_authenticated %}
   <h1>Edit Answer</h1>
   <br/> 
          
   <form class='form-group' method="POST">
       {% csrf_token %}
        <label for="exampleFormControlInput1" class="form-label">Question</label>
        <textarea cols="80" id="editor1" name="question" rows="10" data-sample-short readonly>{{ ques_kundli.question }}</textarea>
        <br/><br/>
        <label for="exampleFormControlInput1" class="form-label">Update your Answer</label>
        <textarea cols="80" id="editor1" class="ckeditor" name="answer" rows="10" data-sample-short>{{ ans_kundli.answer }}</textarea>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update Answer</button>
        </div>
   </form>
{% else %}
   <div class="alert alert-danger" role="alert">
       You are not authorised user. Please <a href="{% url 'login' %}" class="alert-link">login</a> here.
   </div>
{% endif %}

{% endblock %}
