{% extends 'base.html' %}
{% block title %} {% if user.is_authenticated %} Update {% else %} Error 404 {% endif %} {% endblock %}
{% block content %}

{% if user.is_authenticated %}
   <h1>Edit Question</h1>
   <br/> 
          
   <form class='form-group' method="POST">
       {% csrf_token %}
       <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Give the Title"
            name="title" value = "{{ ques_kundli.title }}"readonly>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Category</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Give the Category"
                name="category" value = "{{ ques_kundli.category }}"readonly>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Author </label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="author"  
                value = "{{user.first_name}}" readonly>
        </div>
        <label for="exampleFormControlInput1" class="form-label">Update your Question</label>
        <textarea cols="80" id="editor1" name="question" rows="10" data-sample-short>{{ ques_kundli.question }}</textarea>
        <br/><br/>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update Question</button>
        </div>
   </form>
{% else %}
   <div class="alert alert-danger" role="alert">
       You are not authorised user. Please <a href="{% url 'login' %}" class="alert-link">login</a> here.
   </div>
{% endif %}

{% endblock %}
